<!doctype html>
<html>
	<head>
	    <title>Results</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="css/overall.css" rel="stylesheet">
		{{> homeButton}}
	</head>
	<body>

	    <h1>Results</h1>

	    <div class="songlist">
		  {{#each songs}}
		    <ol>
			  <h3 class="names">{{name}}</h3>
			  <p class="lyrics">{{lyrics}}</p>
		    </ol>
		    <!--<hr>-->
		  {{/each}}
		</div>

		<form id="addSongForm" role="form" method="get" action="/addSong">
			<h3>Can't find a song?</h3>
			<h4>Add it here!</h4>

			<div class="form-group">	
			  <!--<label for="name">Name:</label>-->
			  <input type="text" class="form-control" id="name" placeholder="Song name" name="name">
			</div>

			<div class="form-group">
			  <!--<label for="lyrics">Lyrics:</label>
			  <input type="text" class="form-control" id="lyrics" placeholder="Lyrics" name="lyrics">-->
			  <textarea type="text" class="form-control" id="lyrics" placeholder="Song lyrics" name="lyrics" rows="4" cols="50"></textarea>
			</div>

			<input type="submit" id="submitBtn" class="btn btn-default" value="Add the song"></input>
		</form>
	</body>
</html>