<!doctype html>
<html>
<head>
    <title>Add</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="/menu" id="homeButton">
    <img src="../public/pictures/home.png" width="100" class="img-responsive" alt="home button">
    </a>
    <h1>Placeholder Add</h1>
</body>

</html>