<!doctype html>
<html>
	<head>
	    <title>Results</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="css/overall.css" rel="stylesheet">
	</head>
	<body>
	    <a href="/menu" id="homeButton">
	    <img src="pictures/home.png" width="100" class="img-responsive" alt="home button">
	    </a>

	    <h1>Results</h1>

	    <div class="songlist">
		  {{#each songs}}
		    <ol>
			  <h3 class="names">{{name}}</h3>
			  <p>{{lyrics}}</p>
		    </ol>
		    <hr>
		  {{/each}}
		</div>
	</body>
</html>