<!doctype html>
<html>
<head>
    <title>Recent Calls</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/chords.css" rel="stylesheet">
</head>
<body>
    <a href="/menu" id="homeButton">
    <img src="pictures/computer-icons-home-button-sign-png-favpng-tPJMW0EeRDiccTmwWAGv0hVsS.jpg" class="img-responsive" alt="home button">
    </a>
    <h1>Recent Calls</h1>
    <ol>
    	<li>Sunny Lau <a href="tel:+1-808-227-7935">+1 (808) 227-7935</a></li>
    	<li>Jonathan Choi <a href="tel:+1-408-605-2206">+1 (408) 605-2206</a></li>
    	<li>David Jasuan <a href="tel:+1-209-809-0834">+1 (209) 809-0834</a></li>
    </ol>
</body>

</html>