<!doctype html>
<html>
<head>
    <title>Chords</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/chords.css" rel="stylesheet">
    <script src=""></script>
</head>
<body>
    <a href="/menu" id="homeButton">
    <img src="pictures/home.png" width="100" class="img-responsive" alt="home button">
    </a>
    <div>
        <h1>    
            PICK A KEY
        </h1>

        <select id="key">
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="A">A</option>
            <option value="B">B</option>
        </select>

        <h1>
                PICK A CHORD
        </h1>
        <select id="chord">
            <option value="C">C</option>
            <option value="Dm">Dm</option>
            <option value="Em">Em</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="Am">Am</option>
            <option value="Bdim">Bdim</option>
        </select>

    </div>

</body>

</html>