<!doctype html>

<html>
<head>
	<title>Login</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
	-->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<!--<link href="css/hci-friends.css" rel="stylesheet">-->
	
</head>

<body>
	<div class="login">
        <form id="loginForm" role="form" method="get" action="/menu" target="_self">
		<h1 id="loginHeader">Login</h1>
		<div class="login-form-group">
			<label for="username">Username: </label>
			<input type="text" class="form-control" id="username" name="username">
            <label for="password">Password: </label>
            <input type="text" class="form-control" id="password" name="password">
		</div>

		<input type="submit" id="submitBtn" class="btn btn-info" value="Submit"></input>
		<!--<input type="button" onclick="window.location.href='localhost:3000/add';" value="GO!">-->
	</form>
	</div>
</body>
</html>
