<!doctype html>
<html>
<head>
    <title>Instructors Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/instructor.css" rel="stylesheet">
</head>
<body>
    <a href="/menu" id="homeButton">
    <img src="pictures/home.png" width="100" class="img-responsive" alt="home button">
    </a>
<<<<<<< HEAD
=======
    	<div class="instructor-form">
            <h1>New Instructor? </h1>
            <form id="instructorLogin" role="form" method="get" action="/menu" target="_self"></form>
                
                <label for="username">Username: </label>
                <input type="text" class="form-control" id="instructorUsername" placeholder="Bob" name="instructorUsername">
                <label for="password">Password: </label>
                <input type="text" class="form-control" id="instructorPassword" placeholder="Bobbert" name="instructorPassword">
            </form>
            <p>This function is still a work in progress, the submit button will take you back to the menu screen</p>    
            <input class="btn btn-info" value="Submit" onclick="window.location.href = '/menu'"></input>
                <!--<input type="submit" id="instructorSubmit" class="btn btn-info" value="Submit"></input>-->
            <!--</form>-->
            <h2>Already have an account?</h2>
>>>>>>> ee97297fb6c66771c0084b440a33c7be29f87b93

    <h4>Instructors</h4>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
		<div class="instructors" id="instructor1">
			<a href="" class="thumbnail">
				<img src="/pictures/louis.png"  class="img">
				<p>Louis Armstrong</p>
                <p2> information: blah blah</p2>
			</a>
		</div>
		<div class="instructors" id="instructor2">
			<a href="#" class="thumbnail">
				<img src="/pictures/nina.png" alt="Lorem Pixel image" class="img">
				<p>Nina Simone</p>
                 <p2> information: blah blah</p2>
			</a>
		</div>
		<div class="instructors" id="instructor3">
			<a href="#" class="thumbnail">
				<img src="/pictures/charlie.png" alt="Lorem Pixel image" class="img">
				<p>Charlie Parker</p>
                 <p2> information: blah blah</p2>
			</a>
		</div> 

</body>


</html>