<!doctype html>
<html>
<head>
    <title>Instructor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="/menu" id="homeButton">
    <img src="pictures/computer-icons-home-button-sign-png-favpng-tPJMW0EeRDiccTmwWAGv0hVsS.jpg" class="img-responsive" alt="home button">
    </a>
    <h1>Placeholder Instructor</h1>
</body>

</html>