<!doctype html>

<html>
<head>
	<title>Guitar Teacher Menu</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
	-->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
	<!--<link href="css/hci-friends.css" rel="stylesheet">-->
	
</head>

<body>
    <a href="/" class="btn btn-info"><h3>Logout</h3></a>
	<div class="container">
		<div class="menu" id="menu1">
			<a href="/search">
			<img src="pictures/search_icon.png" class="img-responsive" alt="Search Icon">
			<h2>SEARCH</h2> 
			</a>
		</div>
		<hr/>
		<div class="menu" id="menu2">
			<a href="/chords">
			<img src="pictures/guitar_icon.png" class="img-responsive" alt="Guitar Icon">
			<h2>FIND CHORD</h2>
			</a>
		</div>
		<hr/>
		<div class="menu" id="menu3">
			<a href="/instructor">
			<img src="pictures/instructor_icon.png" class="img-responsive" alt="Instructor Icon">
			<h2>INSTRUCTOR</h2>
			</a>
		</div>
		<hr/>
		<div class="menu" id="menu4">
			<a href="/calls">
			<img src="pictures/recent_calls_icon.png" class="img-responsive" alt="Phone Icon">
			<h2>RECENT CALLS</h2>
			</a>
		</div>
	</div>
</body>
</html>
