<!doctype html>

<html>
<head>
	<title>Edit Profile</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
	-->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/profile.css" rel="stylesheet">
	<link href="css/overall.css" rel="stylesheet">
	<!--<link href="css/hci-friends.css" rel="stylesheet">-->
	
</head>

<body>
	<a href="/menu" id="homeButton">
    <img src="pictures/home.png" width="100" class="img-responsive" alt="home button">
    </a>

	<div class="profile">
		<p1>MY PROFILE</p1>
	</div>

	<div class="profile" id="myprofile">
			<a href="" class="thumbnail">
				<img src="pictures/profile.png" alt="Lorem Pixel image" class="img">
			</a>
	</div>
	<div> <p2>Bio: You are kinda sorta wack kid.</p2></div>
	<div> <p2>Phone: <a href="tel:+1-408-605-2206">+1 (408) 605-2206</a></p2></div>
	<div> <p2>Email: <a href="mailto:djasuan@gmail.com"> djasuan@ucsd.edu</p2></div>
</body>
</html>
