<!doctype html>

<html>
<head>
	<title>Edit Profile</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
	-->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/profile.css" rel="stylesheet">
	<link href="css/overall.css" rel="stylesheet">
	<!--<link href="css/hci-friends.css" rel="stylesheet">-->
	
</head>

<body>
	<div class="profile">
		<h1>MY PROFILE</h1>
	</div>

	<div> <h2>Bio: </h2></div>
</body>
</html>
