<!doctype html>

<html>
	<head>
		<title>Search for a song!</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">

		<link href="css/search.css" rel="stylesheet">
	</head>

	<body>
		<a href="/menu" id="homeButton">
    <img src="pictures/computer-icons-home-button-sign-png-favpng-tPJMW0EeRDiccTmwWAGv0hVsS.jpg" class="img-responsive" alt="home button">
    </a>
		<form id="addFriendForm" role="form" method="get" action="/add" target="_blank">
			<h1>Search for a song!</h1>
			<img class="trans img-responsive" src="pictures/search_icon.png"></img>
			<div class="form-group">
				<label for="song">Song: </label>
				<input type="text" class="form-control" id="song" placeholder="Song" name="song">
			</div>

			<input type="submit" id="submitBtn" class="btn btn-default" value="GO!"></input>
			<!--<input type="button" onclick="window.location.href='localhost:3000/add';" value="GO!">-->
		</form>
	</body>
</html>