<!doctype html>

<html>
	<head>
		<title>Search for a song!</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link href="css/search.css" rel="stylesheet">

		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		{{> homeButton}}
	</head>

	<body>
		<form id="searchForm" role="form" method="get" action="/add" target="_self">
			<h1>Search for a song!</h1>
			<img class="trans img-responsive" src="pictures/search_icon.png" id="search"></img>
			<div class="form-group">
				<label for="song">Song: </label>
				<input type="text" class="form-control" id="song" placeholder="Search here!" name="song">
			</div>

			<input type="submit" id="submitBtn" class="btn btn-info" value="GO!"></input>
			<!--<input type="button" onclick="window.location.href='localhost:3000/add';" value="GO!">-->
		</form>
	</body>
</html>