h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: mediumseagreen;
}

select{
    display: block;
    margin: 0 auto;

}

body{
    background-color:white;
}

img {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
}

#chordsPicture {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
}

select, option {
    /* width: 50vw; */
    /* height: 3vh; */

    text-align: justify;
    align-items: center;
    align-self: center;
    align-content: center;
    vertical-align: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    text-align-last: center;
    font-size: large;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: mediumseagreen;
    border-width: 1em;
    background-color: lightgreen;
}
.form-dropdown {
    text-indent: 40%;
}

#chordsInfoButton, #chordsHelpButton{
    height: 5vh;
    text-align: right;
    position: absolute;
    right: 10vw;
}

#chordsInfoPopup{
    /* height: 35vh; */
    width: 50vw;
    text-align: right;
    position: absolute;
    top: 10vh;
    left: 25vw;
    /* right: 10vw; */
}