h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: mediumseagreen;
}

select{
    display: block;
    margin: 0 auto;

}

body{
    background-color:white;
}

img {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
}

#chordsPicture {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
}