body{
    background-color: skyblue;
    border: 1px dotted gray;
    padding: 20px;


}
.thumbnail{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
}

h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    text-align: center;
}

.img{
width: 200px;
height: 500;

}
