/*h1, h2, h3, h4, h5 {
	color: #8382BF;
}*/
body {
    /*background-color: skyblue;*/
}

.container {
    text-align: center;
    max-height: 80vh;
}

h2 {
    text-align: center;
    color: whitesmoke;
    margin: 0.5vh;
}

.menu {
    display: inline-block;
    width: 250px;
    margin: 1px;
    /*border-style: solid;
    border: black;
    border-width: 5px;*/
    max-height: 20vh;
}
.menu img{
    height: 13vh;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
}

* {
    margin: 0.5vh 0.5vw;
    padding: 0.5vh 0.5vw;
}

h3{
    color: whitesmoke; 
}

hr {
    margin: 0.5vh;
}



/* a {
    max-height: 5vh;
}
*/
.logout {
    position: absolute;
} 
.profile {
    position: absolute;
    top: 10vh;
}