.logout {
    line-height: 0.5vh;
}

* {
    margin: 0.5vw;
    padding: 0.5vw;
}

title {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
	text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color:white;
}
.lyrics, .names{

    color: mediumseagreen;
}

h1,h3,h4{
color:mediumseagreen;
font-family: Arial, Helvetica, sans-serif;

}
