#searchForm {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	color: aliceblue;
	background-color: skyblue;
}

#search {
	mix-blend-mode: multiply;
	vertical-align: middle;
	width: 20vw;
	margin-bottom: 20px;
}



input {
	margin-bottom: 20px;
}